:root.theme-dark {
  --title-color: #DB00FF;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-text-color: #ff0070;
  --button-border-color: #ff0070;
  --second-heading-color: #ff0070;
  --decorated-zone-color: #ff0070;
}

.theme-dark .page {
  --bg-image: url(../images/cover-image-dark.png);
}
