:root.theme-light {
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --button-text-color: #353430;
  --button-border-color: #353430;
  --second-heading-color: #353430;
  --decorated-zone-color: #353430;
}

.theme-light .page {
   --bg-image: url(../images/cover-image-light.png);
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --button-text-color: #353430;
    --button-border-color: #353430;
    --second-heading-color: #353430;
    --decorated-zone-color: #353430;   
  }
}
